* {
  box-sizing: border-box;
  margin: 0px;
  overflow: none;
  padding: 0px;
}

body {
  background-color: black;
  height: 100%;
}
.kontainer {
  display: block;
  height: auto;
  width: 100%; 

  text-align: center;
}
#font {
  color: white;
  font-size: 40px;
}
.div {
  align-items: center;
  margin: 25%;
}
.div .button {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}
#button {
  display: none;
  padding: 10px;
  width: 120px;
  border-style: double;
  background-color: rgb(25, 219, 35);
  color: white;
  border-color: rgb(94, 255, 0);
  border-radius: 10px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 40px;
  font-weight: bolder;
}
.dark-glitch-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: -1;
  opacity: 0.8;
  transition: all 0.1s ease;
}
