* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  padding: 30px;
  background-color: rgba(23, 22, 22, 0.897);
  position: sticky;
  display: flex;
  justify-content: space-between;
}
nav .box-menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.box-menu a {
  color: white;
  text-decoration: none;
}
.time-left {
  color: white;
}
/* main style */
main {
  display: block;
  text-align: center;
  margin-top: 30px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
}
main h2 {
  color: white;
  font-size: 30px;
}
.kontainer-box {
  margin: auto;
  backdrop-filter: blur(3px);
  display: flex;
  margin-top: 8%;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.box {
  text-align: center;
  border-style: groove;
  width: 30%;
  backdrop-filter: blur(3px);
  height: 100%;
  padding: 20px;
}
main .kontainer-box button {
  background-color: rgb(15, 193, 9);
  color: white;
  width: 60%;
  height: 40px;
  border-color: rgb(0, 255, 13);
  font-size: medium;
}
